h1{
    color: white;
    font-size: 56px;
}

p{
    color: white;
}

html, body{
    height: 100%;
    font-family: -apple-system, systme-ui, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
}

/* body{
    background-size: cover;
} */