/* h1{
    color: black;
    font-size: 56px;
}

p{
    color: black;
}

html, body{
    height: 100%;
    font-family: -apple-system, systme-ui, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Can
    tarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul a {
    color: red;
}

a[href="https://google.com"]{
    color: blueviolet;
}

.done {
    color: brown;
}

.done p{
    color: aquamarine;
} */

/* li{
    font-weight: bold;
}
#todo-list{
    background-color: gray;
}
.done {
    text-decoration: line-through;
} */

/* body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
} */

/* body{
    background-size: cover;
} */

/*Cascading */
body{
    background-color: black;
    color: white;
  }
  #todo-list{
    font-weight: bold;
  }
  #todo-list li{
    color: red;
  }
  li.done{
    color: blue;
    text-decoration: line-throuhg;
  }